kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
- role: worker
  extraPortMappings:
  - containerPort: 5000
    hostPort: 5001
    protocol: TCP
  - containerPort: 30500
    hostPort: 30500
    protocol: TCP
